<ul class="pagination">
    <li class="page-item" *ngIf="currentPage !== 1" (click)="setPage(currentPage - 1)">
        <a class="page-link">←</a>
    </li>
    <li class="page-item" *ngFor="let page of pagesArray; let index = index"
        [ngClass]="{'active': currentPage === index + 1 }" (click)="setPage(index + 1)">
        <a class="page-link">{{ index + 1 }}</a>
    </li>
    <li class="page-item" *ngIf="currentPage !== pagesArray.length" (click)="setPage(currentPage + 1)">
        <a class="page-link">→</a>
    </li>
</ul>