:host {
    display: none;
}

::ng-deep .cal-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;    
    overflow: auto;
}

::ng-deep .cal-modal>.cal-modal-body {
    padding: 20px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    

::ng-deep .cal-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;    
    z-index: 900;
}

::ng-deep body.cal-open {
    overflow: hidden;
}