<h4>{{isNew ? 'Добавление' : 'Редактирование'}}</h4>
<form #form="ngForm" novalidate (submit)="save()">
  <div class="form-group">
    <label>Название</label>
    <input class="form-control" name="title" [(ngModel)]="book.title" required />
  </div>
  <div class="form-group">
    <label>Авторы</label>
    <tagbox #authorsTagBox [dataSource]="authors" [preSelected]="book.bookAuthors" [preSelectedKeyField]="'authorId'"
      [keyField]="'id'" [displayField]="'fio'"></tagbox>
  </div>
  <div class="form-group">
    <label>Жанры</label>
    <tagbox #genresTagBox [dataSource]="genres" [preSelected]="book.bookGenres" [preSelectedKeyField]="'genreId'"
      [keyField]="'id'" [displayField]="'title'"></tagbox>
  </div>
  <div class="form-group">
    <label>Количество</label>
    <input class="form-control" name="count" [(ngModel)]="book.count" type="number" min="0" required />
  </div>
  <div *ngIf="book.attachments && book.attachments.length > 0" class="form-group">
    <label>Имеющиеся вложения</label>
    <div class="mb-2" style="display: flex;">
      <div *ngFor="let i of book.attachments">
        <div class="mr-2">
          <span>{{i.name}}{{i.isMain ? '(обложка)' : ''}}</span>
          <span (click)="removeAttachment(i.id)" class="badge badge-secondary"> X </span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Добавить обложку</label>
    <div class="form-control">
      <file-uploader #coverFileInput [mode]="'single'"></file-uploader>
    </div>
  </div>
  <div class="form-group">
    <label>Добавить примеры страниц</label>
    <div class="form-control">
      <file-uploader #pagesFileInput [mode]="'multiple'"></file-uploader>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mr-1 ml-1">Сохранить</button>
  <button type="submit" class="btn btn-secondary mr-1 ml-1" routerLink="/">Отмена</button>
</form>